{% load static %}
<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-8">
        <div class="flex flex-col md:flex-row justify-between items-center space-y-6 md:space-y-0">
            <!-- Logo and Brand Name -->
            <div class="flex items-center space-x-4">
                <img class="h-8" src="{% static 'images/logo.svg' %}" alt="Logo"/>
                <span class="text-xl font-bold">TravelNexus</span>
            </div>

            <!-- Quick Links -->
            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'home' %}" class="hover:text-blue-400 transition duration-300">Home</a>
                    <a href="{% url 'account_login' %}" class="hover:text-blue-400 transition duration-300">Login</a>
                    <a href="{% url 'account_signup' %}" class="hover:text-blue-400 transition duration-300">Sign Up</a>
                {% endif %}
                <a href="#" class="hover:text-blue-400 transition duration-300">Contact Us</a>
            </div>
        </div>

        <!-- Divider and Contact Info -->
        <div class="border-t border-gray-700 mt-6 pt-6 text-center md:text-left">
            <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
                <!-- Contact Information -->
                <div class="text-gray-400">
                    <p>Email: support@travelnexus.com</p>
                    <p>Phone: +1 234 567 890</p>
                </div>

                <!-- Copyright Notice -->
                <div class="text-gray-400">
                    <p>&copy; 2023 TravelNexus. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
